DATABASE_URL=postgresql://user:password@host:port/dbname
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=327d0aac2c0210cdee0ab8c8b017cce3ffe562a44e40951aaed428037bf84a85
BCRYPT_ROUNDS=10